/* init */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typo */
body {
    font-family: sans-serif;
    margin: 0 1rem;
}

/* general style */
table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

td {
    text-align: center;
}

caption {
    padding: 10px;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

section {
    margin-bottom: 1rem;
}

/* section one, two and three */
.one th,
.two th,
.three th {
    background-color: rgb(235, 235, 235);
}

.one tr:nth-child(even) td,
.two tr:nth-child(even) td,
.three tr:nth-child(even) td {
    background-color: #D4FFFA;
}

.one tr:nth-child(odd) td,
.two tr:nth-child(odd) td,
.three tr:nth-child(odd) td {
    background-color: #C5EA25;
}

/* .colHeaders {
    color: red;
} */

/* Rounded border */


/* section four */
.white {
    background: #fff;
}

.clear {
    background: rgba(239, 179, 0, 0.28);
}

.dark {
    background: #929B94;
}